/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/* Colors */
/* CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BURGER MENU */
.burger-button {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 18px;
  right: 20px;
  transition-duration: 0.5s;
  display: none;
}
.burger-button .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  height: 5px;
  width: 30px;
  top: 20px;
  background-color: #FFFBF1;
  left: 0px;
}
.burger-button .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: #FFFBF1;
  content: "";
  top: -20px;
}
.burger-button .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: #FFFBF1;
  content: "";
  top: 20px;
}
.burger-button .icon-left:hover {
  cursor: pointer;
}
.burger-button .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  height: 5px;
  width: 20px;
  top: 20px;
  background-color: #FFFBF1;
  left: 20px;
}
.burger-button .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: #FFFBF1;
  content: "";
  top: -20px;
}
.burger-button .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: #FFFBF1;
  content: "";
  top: 20px;
}
.burger-button.open .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}
.burger-button.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}
.burger-button.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}
.burger-button.open .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}
.burger-button.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}
.burger-button.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}
.burger-button:hover {
  cursor: pointer;
}

/* TEXT */
h1,
h2 {
  font-family: "Russo One", sans-serif;
}

h1 {
  font-size: 10vw;
  color: #1a1a1a;
  text-align: center;
  line-height: 7.5vw;
}

p {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

ul li {
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* BUTTONS */
button {
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid #000;
  background: #e8e8e8;
  user-select: none;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-family: inherit;
}

button:before,
button:after {
  content: "";
  position: absolute;
  background: #e8e8e8;
  transition: all 0.2s linear;
}

button:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

button:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

button:hover {
  cursor: crosshair;
}

button:active {
  transform: scale(0.95);
}

button:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

button:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}

button span {
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
}

/* PAGE */
html {
  scrollbar-width: thin;
  overflow-x: hidden;
}
html body {
  max-width: 100vw;
  height: auto;
  background-color: #FFFBF1;
  /* HEADER */
  /* INFOS */
  /* NEWS */
  /* CONTACT */
}
html body #loader {
  z-index: 10000;
  background-color: #1a1a1a;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body #loader .img-loader {
  animation: rotation 5s infinite linear;
}
html body #nav {
  z-index: 1000;
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #1a1a1a;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
html body #nav .logo {
  margin-top: 10px;
  margin-left: 50px;
  max-width: 60px;
  max-height: 60px;
}
html body #nav #menu {
  display: block;
  margin: 0 50px;
  display: flex;
  align-items: center;
}
html body #nav #menu .active {
  color: #E7306B;
}
html body #nav #menu .menu-item {
  color: #1a1a1a;
  margin: 15px;
}
html body #nav #menu .menu-item a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFFBF1;
  text-decoration: none;
}
html body section#header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body section#header div {
  height: 100%;
  width: 50%;
}
html body section#header .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html body section#header .left .title {
  width: 80%;
  height: 50%;
  margin-top: 180px;
}
html body section#header .left ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
html body section#header .left ul li {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
html body section#header .left .address {
  text-align: center;
  height: 80px;
  margin-top: 100px;
  font-weight: bold;
}
html body section#header .right {
  display: flex;
}
html body section#header .right .inner-right {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  width: 85%;
  height: 100%;
  filter: grayscale(100%);
  background-image: url(../img/plo-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html body section#header .right .inner-right .inner-logo {
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 10vw;
}
html body #infos {
  padding: 0 10%;
  margin-top: 100px;
  min-height: auto;
  position: relative;
}
html body #infos .subtitle {
  position: relative;
  display: flex;
  align-items: center;
}
html body #infos .subtitle h2 {
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  background-color: #1a1a1a;
  color: #FFFBF1;
  display: block;
  padding: 0.5em;
}
html body #infos .subtitle h2:nth-child(2) {
  position: absolute;
  background-color: #FFFBF1;
  color: #1a1a1a;
  clip-path: inset(-1% -1% 50% -1%);
}
html body #infos .infos-container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 0;
  width: 100%;
  min-height: auto;
}
html body #infos .infos-container div.info-text {
  width: 50%;
  z-index: 1;
}
html body #infos .infos-container div.info-text p {
  width: 100%;
  font-size: 4vw;
  text-align: right;
  font-weight: bolder;
  color: #1a1a1a;
}
html body #infos .infos-container div.info-text p span {
  color: #E7306B;
}
html body #infos .infos-container div.back-img {
  margin: 5%;
  width: 50%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
html body #infos .infos-container .img-1 {
  background-image: url(../img/from-the-wall.jpg);
}
html body section#news {
  padding: 0 10%;
  margin-top: 100px;
  min-height: 80vh;
}
html body section#news .subtitle {
  position: relative;
  display: flex;
  align-items: center;
}
html body section#news .subtitle h2 {
  text-align: right;
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  background-color: #1a1a1a;
  color: #FFFBF1;
  display: block;
  padding: 0.5em;
}
html body section#news .subtitle h2:nth-child(2) {
  position: absolute;
  background-color: #FFFBF1;
  color: #1a1a1a;
  clip-path: inset(-1% -1% 50% -1%);
}
html body section#news #articles {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
html body section#news #articles .card {
  cursor: crosshair;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  width: 31%;
  min-width: 365px;
  height: 500px;
}
html body section#news #articles .card .card-title {
  height: 45px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0 5px 10px;
}
html body section#news #articles .card .card-content {
  position: relative;
  padding: 15px;
  border-top: 1px solid #1a1a1a;
  width: 100%;
  height: calc(100% - 45px);
  display: flex;
}
html body section#news #articles .card .card-content .card-image {
  width: 100%;
  height: 100%;
}
html body section#news #articles .card .card-content .card-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
html body section#news #articles .card .card-content .card-hidden-content {
  color: #FFFBF1;
  background-color: #050505dc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: none;
}
html body section#news #articles .card .card-content .card-hidden-content button {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 20px;
}
html body #contact {
  padding: 0 10%;
  margin-top: 100px;
  min-height: 100vh;
}
html body #contact .subtitle {
  position: relative;
  display: flex;
  align-items: center;
}
html body #contact .subtitle h2 {
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  background-color: #1a1a1a;
  color: #FFFBF1;
  display: block;
  padding: 0.5em;
}
html body #contact .subtitle h2:nth-child(2) {
  position: absolute;
  background-color: #FFFBF1;
  color: #1a1a1a;
  clip-path: inset(-1% -1% 50% -1%);
}
html body #contact .contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body #contact .contact-container .contact-infos {
  width: 20%;
}
html body #contact .contact-container .contact-infos img {
  max-width: 100px;
}
html body #contact .contact-container .contact-infos h3 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0;
}
html body #contact .contact-container .contact-infos h4 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
html body #contact .contact-container .contact-infos p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 14px;
  font-size: 16px;
}
html body #contact .contact-container .contact-form {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body #contact .contact-container .contact-form form {
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
}
html body #contact .contact-container .contact-form form label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}
html body #contact .contact-container .contact-form form input {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
html body #contact .contact-container .contact-form form input:focus-visible {
  border-style: none;
}
html body #contact .contact-container .contact-form form textarea {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
html body #contact .contact-container .contact-form form textarea:focus-visible {
  border-style: none;
}
html body #contact .contact-container .contact-form form button {
  display: block;
  margin: auto;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}
html body footer {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  height: 150px;
  width: 100%;
  background-color: #1a1a1a;
}
html body footer div.footer-logo img {
  max-width: 100px;
}
html body footer div.social-icons {
  margin-left: 50px;
}
html body footer div.social-icons a i {
  color: #FFFBF1;
  margin-left: 10px;
  font-size: 30px;
}

/* TABLET LANDSCAPE*/
@media (max-width: 960px) {
  html body #nav #menu {
    display: none;
    padding: 50px 5%;
    width: 100%;
    height: 100vh;
    margin: 0;
    position: fixed;
    left: 0;
    top: 80px;
    background-color: #1a1a1ae7;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
  }
  html body #nav .burger-button {
    display: block;
  }
  html body section#header .left .title {
    height: 40%;
  }
  html body section#header .left ul li {
    width: auto;
  }
  html body section#header .left .address {
    width: 100%;
    margin: 10px;
    font-weight: 400;
  }
  html body section#header .left .address p {
    font-size: 14px;
  }
  html body #infos .subtitle h2 {
    font-size: 7vw;
  }
  html body section#news .subtitle h2 {
    font-size: 7vw;
  }
  html body #contact .subtitle h2 {
    font-size: 7vw;
  }
  html body #contact .contact-container .contact-infos {
    width: 40%;
  }
}
/* MOBILE PORTRAIT */
@media (max-width: 500px) {
  ul {
    margin-left: 0;
  }

  html body #loader .img-loader {
    max-width: 80%;
  }
  html body section#header::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
  }
  html body section#header {
    flex-direction: column;
  }
  html body section#header .left {
    width: 100%;
    filter: grayscale(100%);
    background-image: url(../img/plo-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  html body section#header .left .title {
    width: 100%;
  }
  html body section#header .left .title h1 {
    display: block;
    width: 100%;
    font-size: 20vw;
    line-height: normal;
    color: #FFFBF1;
  }
  html body section#header .left .activities {
    display: none;
  }
  html body section#header .left .address p {
    color: #FFFBF1;
    font-size: 16px;
  }
  html body section#header .right {
    display: none;
  }
  html body #infos .subtitle h2 {
    font-size: 7vw;
  }
  html body #infos .infos-container {
    flex-direction: column;
  }
  html body #infos .infos-container div.back-img {
    width: 100%;
  }
  html body #infos .infos-container div.info-text {
    width: 100%;
  }
  html body #infos .infos-container div.info-text p {
    text-align: left;
    font-size: 9vw;
  }
  html body #contact {
    padding: 0 2%;
  }
  html body #contact .contact-container {
    margin-bottom: 50px;
    flex-direction: column;
  }
  html body #contact .contact-container .contact-infos {
    padding: 5% 10%;
    width: 100%;
  }
  html body #contact .contact-container .contact-form {
    width: 100%;
  }
  html body footer div.footer-logo {
    width: 45%;
  }
  html body footer div.footer-logo img {
    max-width: 50%;
  }
  html body footer div.social-icons {
    margin-left: 10px;
  }
}
/* MOBILE LANDSCAPE */
@media (max-height: 720px) {
  ul {
    margin-left: 0;
  }

  html body #loader .img-loader {
    max-height: 80%;
  }
  html body #nav #menu {
    padding: 10px 50px;
  }
  html body section#header .left {
    width: 100%;
  }
  html body section#header .left .title {
    width: 100%;
    height: 18%;
  }
  html body section#header .left .title h1 {
    display: block;
    width: 100%;
    font-size: 8vw;
    line-height: normal;
  }
  html body section#header .left .address {
    margin: 40px;
  }
  html body section#header .left .address p {
    margin-top: 0;
  }
  html body section#header .right {
    display: none;
  }
  html body #infos {
    margin-top: 0;
  }
  html body #infos .subtitle h2 {
    font-size: 7vw;
  }
  html body #infos .infos-container {
    margin-top: 0;
    flex-direction: column;
  }
  html body #infos .infos-container div.back-img {
    width: 100%;
  }
  html body #infos .infos-container div.info-text {
    width: 100%;
  }
  html body #infos .infos-container div.info-text p {
    text-align: left;
    font-size: 5vw;
  }
  html body #contact {
    padding: 0 2%;
  }
  html body #contact .contact-container {
    margin-bottom: 50px;
    flex-direction: column;
  }
  html body #contact .contact-container .contact-infos {
    padding: 5% 10%;
    width: 100%;
  }
  html body #contact .contact-container .contact-form {
    width: 100%;
  }
  html body footer div.footer-logo {
    width: 10%;
  }
  html body footer div.footer-logo img {
    max-width: 100%;
  }
  html body footer div.social-icons {
    margin-left: 10px;
  }
}
/* ANIMATION */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
