/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
$font-russo-one: 'Russo One',
sans-serif;

/* Colors */

$black: #050505;
$dark-grey: #1a1a1a;
$pink :#E7306B;
$cream: #FFFBF1;
$light-grey: #F4F3F5;

/* CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* BURGER MENU */

@mixin btn($right,
$top) {
    position: absolute;
    width: 60px;
    height: 60px;
    top: $top;
    right: $right;
    transition-duration: 0.5s;
}

@mixin icon($height,
$width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 30px;
    background-color: $cream;
}

@mixin icon-before($height,
$width,
$top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $cream;
    content: "";
    top: $top;
}

@mixin icon-after($height,
$width,
$top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $cream;
    content: "";
    top: $top;
}

.burger-button {
    @include btn(30px,
    6px);
    display: none;
    .icon-left {
        @include icon(8px,
        30px);
        left: 0px;
        &:before {
            @include icon-before(8px,
            30px,
            -20px);
        }
        &:after {
            @include icon-after(8px,
            30px,
            20px);
        }
        &:hover {
            cursor: pointer;
        }
    }
    .icon-right {
        @include icon(8px,
        30px);
        left: 30px;
        &:before {
            @include icon-before(8px,
            30px,
            -20px);
        }
        &:after {
            @include icon-after(8px,
            30px,
            20px);
        }
    }
    &.open {
        .icon-left {
            transition-duration: 0.5s;
            background: transparent;
            &:before {
                transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
            }
            &:after {
                transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
            }
        }
        .icon-right {
            transition-duration: 0.5s;
            background: transparent;
            &:before {
                transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
            }
            &:after {
                transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
}


/* TEXT */

h1,
h2 {
    font-family: $font-russo-one;
}

h1 {
    font-size: 10vw;
    color: $dark-grey;
    text-align: center;
    line-height: 7.5vw;
}

p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul {
    margin-left: 20px;
    li {
        margin-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
}


/* BUTTONS */

button {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #000;
    background: #e8e8e8;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
}

button:before,
button:after {
    content: "";
    position: absolute;
    background: #e8e8e8;
    transition: all .2s linear;
}

button:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
}

button:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
}

button:hover {
    cursor: crosshair;
}

button:active {
    transform: scale(0.95);
}

button:hover:before {
    height: calc(100% - 32px);
    top: 16px;
}

button:hover:after {
    width: calc(100% - 32px);
    left: 16px;
}

button span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
}


/* PAGE */

html {
    scrollbar-width: thin;
    overflow-x: hidden;
    body {
        max-width: 100vw;
        height: auto;
        background-color: $cream;
        #loader {
            z-index: 10000;
            background-color: $dark-grey;
            width: 100vw;
            height: 100vh;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            .img-loader {
                animation: rotation 5s infinite linear;
            }
        }
        #nav {
            z-index: 1000;
            display: flex;
            position: fixed;
            height: 80px;
            width: 100%;
            background-color: $dark-grey;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
            .logo {
                margin-top: 10px;
                margin-left: 50px;
                max-width: 60px;
                max-height: 60px;
            }
            #menu {
                display: block;
                margin: 0 50px;
                display: flex;
                align-items: center;
                .active {
                    color: $pink;
                }
                .menu-item {
                    color: $dark-grey;
                    margin: 15px;
                    a {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        color: $cream;
                        text-decoration: none;
                    }
                }
            }
        }
        /* HEADER */
        section#header {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            div {
                height: 100%;
                width: 50%;
            }
            .left {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .title {
                    width: 80%;
                    height: 50%;
                    margin-top: 180px;
                }
                ul {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    list-style-type: none;
                    li {
                        width: 25%;
                        margin: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.5em;
                    }
                }
                .address {
                    text-align: center;
                    height: 80px;
                    margin-top: 100px;
                    font-weight: bold;
                }
            }
            .right {
                display: flex;
                .inner-right {
                    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
                    margin-top: 0;
                    width: 85%;
                    height: 100%;
                    filter: grayscale(100%);
                    background-image: url(../img/plo-header.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .inner-logo {
                        position: absolute;
                        left: 25px;
                        bottom: 25px;
                        width: 10vw;
                    }
                }
            }
        }
        /* INFOS */
        #infos {
            padding: 0 10%;
            margin-top: 100px;
            min-height: auto;
            position: relative;
            .subtitle {
                position: relative;
                display: flex;
                align-items: center;
                h2 {
                    width: 100%;
                    font-size: 5vw;
                    font-weight: 900;
                    background-color: $dark-grey;
                    color: $cream;
                    display: block;
                    padding: .5em;
                }
                h2:nth-child(2) {
                    position: absolute;
                    background-color: $cream;
                    color: $dark-grey;
                    clip-path: inset(-1% -1% 50% -1%);
                }
            }
            .infos-container {
                margin-top: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                left: 0;
                width: 100%;
                min-height: auto;
                div.info-text {
                    width: 50%;
                    z-index: 1;
                    p {
                        width: 100%;
                        font-size: 4vw;
                        text-align: right;
                        font-weight: bolder;
                        color: $dark-grey;
                        span {
                            color: $pink;
                        }
                    }
                }
                div.back-img {
                    margin: 5%;
                    width: 50%;
                    height: 500px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    filter: grayscale(100%);
                    border-radius: 5px;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                }
                .img-1 {
                    background-image: url(../img/from-the-wall.jpg);
                }
            }
        }
        /* NEWS */
        section#news {
            padding: 0 10%;
            margin-top: 100px;
            min-height: 80vh;
            .subtitle {
                position: relative;
                display: flex;
                align-items: center;
                h2 {
                    text-align: right;
                    width: 100%;
                    font-size: 5vw;
                    font-weight: 900;
                    background-color: $dark-grey;
                    color: $cream;
                    display: block;
                    padding: .5em;
                }
                h2:nth-child(2) {
                    position: absolute;
                    background-color: $cream;
                    color: $dark-grey;
                    clip-path: inset(-1% -1% 50% -1%);
                }
            }
            #articles {
                margin-top: 50px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .card {
                    cursor: crosshair;
                    background-color: white;
                    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    padding: 15px;
                    margin: 15px;
                    width: 31%;
                    min-width: 365px;
                    height: 500px;
                    .card-title {
                        height: 45px;
                        width: 100%;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: 5px 0 5px 10px;
                    }
                    .card-content {
                        position: relative;
                        padding: 15px;
                        border-top: 1px solid $dark-grey;
                        width: 100%;
                        height: calc(100% - 45px);
                        display: flex;
                        .card-image {
                            width: 100%;
                            height: 100%;
                            img {
                                display: block;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .card-hidden-content {
                            color: $cream;
                            background-color: #050505dc;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            padding: 20px;
                            display: none;
                            button {
                                font-family: Arial, Helvetica, sans-serif;
                                position: absolute;
                                bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
        /* CONTACT */
        #contact {
            padding: 0 10%;
            margin-top: 100px;
            min-height: 100vh;
            .subtitle {
                position: relative;
                display: flex;
                align-items: center;
                h2 {
                    width: 100%;
                    font-size: 5vw;
                    font-weight: 900;
                    background-color: $dark-grey;
                    color: $cream;
                    display: block;
                    padding: .5em;
                }
                h2:nth-child(2) {
                    position: absolute;
                    background-color: $cream;
                    color: $dark-grey;
                    clip-path: inset(-1% -1% 50% -1%);
                }
            }
            .contact-container {
                display: flex;
                align-items: center;
                justify-content: center;
                .contact-infos {
                    width: 20%;
                    img {
                        max-width: 100px;
                    }
                    h3 {
                        font-size: 24px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: 15px 0;
                    }
                    h4 {
                        font-size: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: 10px 0;
                    }
                    p {
                        font-family: Arial, Helvetica, sans-serif;
                        line-height: 14px;
                        font-size: 16px;
                    }
                }
                .contact-form {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    form {
                        margin-top: 5%;
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        label {
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            font-size: 18px;
                            margin: 10px 0;
                        }
                        input {
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                            border: none;
                            border-radius: 5px;
                            width: 100%;
                            height: 35px;
                            padding: 0 10px;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 16px;
                        }
                        input:focus-visible {
                            border-style: none;
                        }
                        textarea {
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                            border: none;
                            font-size: 16px;
                            padding: 5px 10px;
                            border-radius: 5px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        textarea:focus-visible {
                            border-style: none;
                        }
                        button {
                            display: block;
                            margin: auto;
                            width: 150px;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 20px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        footer {
            display: flex;
            align-items: center;
            padding: 20px 50px;
            height: 150px;
            width: 100%;
            background-color: $dark-grey;
            div.footer-logo {
                img {
                    max-width: 100px;
                }
            }
            div.social-icons {
                margin-left: 50px;
                a {
                    i {
                        color: $cream;
                        margin-left: 10px;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}


/* TABLET LANDSCAPE*/

@media (max-width: 1280px) {
    html {
        body {
            #nav {
                #menu {
                    display: none;
                    padding: 50px 5%;
                    width: 100%;
                    height: 100vh;
                    margin: 0;
                    position: fixed;
                    left: 0;
                    top: 80px;
                    background-color: #1a1a1ae7;
                    flex-direction: column;
                    align-items: flex-start;
                    list-style-type: none;
                }
                .burger-button {
                    display: block;
                }
            }
            section#header {
                .left {
                    .title {
                        height: 40%;
                    }
                    ul {
                        li {
                            width: auto;
                        }
                    }
                    .address {
                        width: 100%;
                        margin: 10px;
                        font-weight: 400;
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
            #infos {
                .subtitle {
                    h2 {
                        font-size: 7vw;
                    }
                }
            }
            section#news {
                .subtitle {
                    h2 {
                        font-size: 7vw;
                    }
                }
            }
            #contact {
                .subtitle {
                    h2 {
                        font-size: 7vw;
                    }
                }
                .contact-container {
                    .contact-infos {
                        width: 40%;
                    }
                }
            }
        }
    }
}


/* MOBILE PORTRAIT */

@media (max-width: 500px) {
    ul {
        margin-left: 0;
    }
    html {
        body {
            #loader {
                .img-loader {
                    max-width: 80%;
                }
            }
            section#header {
                .left {
                    width: 100%;
                    .title {
                        width: 100%;
                        h1 {
                            display: block;
                            width: 100%;
                            font-size: 20vw;
                            line-height: normal;
                        }
                    }
                }
                .right {
                    display: none;
                }
            }
            #infos {
                .subtitle {
                    h2 {
                        font-size: 7vw;
                    }
                }
                .infos-container {
                    flex-direction: column;
                    div.back-img {
                        width: 100%;
                    }
                    div.info-text {
                        width: 100%;
                        p {
                            text-align: left;
                            font-size: 9vw;
                        }
                    }
                }
            }
            #contact {
                padding: 0 2%;
                .contact-container {
                    margin-bottom: 50px;
                    flex-direction: column;
                    .contact-infos {
                        padding: 5% 10%;
                        width: 100%;
                    }
                    .contact-form {
                        width: 100%;
                    }
                }
            }
            footer {
                div.footer-logo {
                    width: 45%;
                    img {
                        max-width: 50%;
                    }
                }
                div.social-icons {
                    margin-left: 10px;
                }
            }
        }
    }
}


/* MOBILE LANDSCAPE */

@media (max-height: 720px) {
    ul {
        margin-left: 0;
    }
    html {
        body {
            #loader {
                .img-loader {
                    max-height: 80%;
                }
            }
            #nav {
                #menu {
                    padding: 10px 50px;
                }
            }
            section#header {
                .left {
                    width: 100%;
                    .title {
                        width: 100%;
                        height: 18%;
                        h1 {
                            display: block;
                            width: 100%;
                            font-size: 8vw;
                            line-height: normal;
                        }
                    }
                    .address {
                        margin: 40px;
                        p {
                            margin-top: 0;
                        }
                    }
                }
                .right {
                    display: none;
                }
            }
            #infos {
                margin-top: 0;
                .subtitle {
                    h2 {
                        font-size: 7vw;
                    }
                }
                .infos-container {
                    margin-top: 0;
                    flex-direction: column;
                    div.back-img {
                        width: 100%;
                    }
                    div.info-text {
                        width: 100%;
                        p {
                            text-align: left;
                            font-size: 5vw;
                        }
                    }
                }
            }
            #contact {
                padding: 0 2%;
                .contact-container {
                    margin-bottom: 50px;
                    flex-direction: column;
                    .contact-infos {
                        padding: 5% 10%;
                        width: 100%;
                    }
                    .contact-form {
                        width: 100%;
                    }
                }
            }
            footer {
                div.footer-logo {
                    width: 10%;
                    img {
                        max-width: 100%;
                    }
                }
                div.social-icons {
                    margin-left: 10px;
                }
            }
        }
    }
}


/* ANIMATION */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}